<script setup lang="ts">
import { h, onMounted, ref } from 'vue';
import { useAxios } from '@vueuse/integrations/useAxios';
import {
  NDataTable,
  NButton,
  useMessage,
  DataTableColumns,
  NInput,
} from 'naive-ui';
import apiClient from '../axios-interceptors/axios-interceptors-test';
import axios from 'axios';

onMounted(() => {
  console.log('[onMounted]');
  console.log(tableOneData.value);
  postTest();
});

// #region dataTable
let searchRecipe = ref<string>('');
let searchProduct = ref<string>('');

type APIItemData = {
  id: number;
  category: string;
  brand: string;
  price: number;
};

type APIRecipe = {
  recipes: APIRecipeData[];
};

type APIRecipeData = {
  id: number;
  name: string;
  image: ImageBitmap;
  rating: number;
};

const recipeAxios = axios.create({
  baseURL: 'https://dummyjson.com/recipes',
});

const productAxios = axios.create({
  baseURL: 'https://dummyjson.com/products',
});

const {
  isFinished: isTableOneFinished,
  data: tableOneData,
  execute: productSearch,
} = useAxios(`/search?q=`, productAxios);

const searchCartByName = () => {
  console.log(searchRecipe.value);
  productSearch(`/search?q=${searchProduct.value}`);
};

const {
  isFinished: isTableTwoFinished,
  data: tableTwoData,
  execute: recipeSearch,
} = useAxios<APIRecipe>(`/search?q=`, recipeAxios, {
  immediate: false,
});
console.log(tableTwoData);
// execute();
const searchRecipeByName = () => {
  console.log(searchRecipe.value);
  recipeSearch(`/search?q=${searchRecipe.value}`);
};

const createColumns = ({
  play,
}: {
  play: (row: APIItemData) => void;
}): DataTableColumns<APIItemData> => {
  return [
    {
      title: 'ID',
      key: 'id',
    },
    {
      title: 'Title',
      key: 'category',
    },
    {
      title: 'Brand',
      key: 'brand',
    },
    {
      title: 'Price',
      key: 'price',
    },
    {
      title: 'Action',
      key: 'actions',
      render(row) {
        return h(
          NButton,
          {
            strong: true,
            tertiary: true,
            size: 'small',
            onClick: () => play(row),
          },
          { default: () => 'Play' },
        );
      },
    },
  ];
};

const createRecipeColumns = ({
  play,
}: {
  play: (row: APIRecipeData) => void;
}): DataTableColumns<APIRecipeData> => {
  return [
    {
      title: 'ID',
      key: 'id',
    },
    {
      title: 'Name',
      key: 'name',
    },
    {
      title: 'Image',
      key: 'image',
    },
    {
      title: 'Rate',
      key: 'rating',
    },
    {
      title: 'Action',
      key: 'actions',
      render(row) {
        return h(
          NButton,
          {
            strong: true,
            tertiary: true,
            size: 'small',
            onClick: () => play(row),
          },
          { default: () => 'Play' },
        );
      },
    },
  ];
};

const message = useMessage();

const columns = createColumns({
  play(row: APIItemData) {
    message.info(`Play ${row.category}`);
  },
});

const recipeColumns = createRecipeColumns({
  play(row: APIRecipeData) {
    message.info(`Play ${row.name}`);
  },
});

const pagination = false as const;
// #endregion

//================================ axios interceptors ===================================

const postTest = async () => {
  const setting = {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
  };
  const data = {
    title: 'try',
  };
  try {
    const response = await apiClient.post(
      'https://dummyjson.com/products/add',
      data,
      setting,
    );
    console.log(response);
  } catch (error) {
    console.error(error);
  }
};
</script>

<template>
  <n-input
    class="w-36"
    autosize
    v-model:value="searchProduct"
    type="text"
    placeholder="Basic Input"
  />
  <n-button @click="searchCartByName()"> Show Data </n-button>
  <n-data-table
    :columns="columns"
    :data="tableOneData ? tableOneData.products : []"
    :pagination="pagination"
    :bordered="true"
    :loading="!isTableOneFinished"
    :max-height="263"
  />
  <br />
  <hr />
  <br />
  <n-input
    class="w-36"
    autosize
    v-model:value="searchRecipe"
    type="text"
    placeholder="Basic Input"
  />
  <n-button @click="searchRecipeByName()"> Show Data </n-button>

  <n-data-table
    :columns="recipeColumns"
    :data="tableTwoData?.recipes"
    :pagination="pagination"
    :bordered="true"
    :loading="!isTableTwoFinished"
    :max-height="263"
  />
</template>

<style scoped>
.read-the-docs {
  color: #888;
}
</style>
