<script setup lang="ts">
import { ref, reactive, onMounted } from 'vue';
import type {
  DataTableSortState,
  DataTableFilterState,
  PaginationProps,
} from 'naive-ui';
import { NDataTable } from 'naive-ui';
import {
  TableBaseColumn,
  TableColumns,
} from 'naive-ui/es/data-table/src/interface';
import axios from 'axios';
interface DataItem {
  column1: number;
  column2: string;
  column3: number;
}

let column1: TableBaseColumn = {
  title: 'ID',
  key: 'id',
  sorter: true,
  sortOrder: false,
};

let column3: TableBaseColumn = {
  title: 'body',
  key: 'title',
  filter: true,
  filterOptionValue: '' as string,
  filterOptions: [
    {
      label: 'id',
      value: `id`,
    },
    {
      label: 'doloribus',
      value: 'doloribus',
    },
  ],
};

const columns = reactive<TableColumns>([
  column1,
  {
    title: 'userID',
    key: 'userId',
  },
  column3,
]);

const data = ref<DataItem[]>([]);
const loading = ref(true);

async function query(
  page: number | undefined = 1,
  pageSize = 10,
  order: 'ascend' | 'descend' | false = 'ascend',
  filterValue: string = '',
) {
  try {
    const skip = (page - 1) * pageSize;
    const orderBy = order === 'descend' ? 'desc' : 'asc';
    const limit = `_limit=${pageSize}&_start=${skip}`;
    const response = await axios.get(
      `https://jsonplaceholder.typic ode.com/posts/?${limit}&_sort=id&_order=${orderBy}&q=${filterValue}`,
    );
    let data = response.data;
    const responseCount = await axios.get(
      `https://jsonplaceholder.typicode.com/posts/?q=${filterValue}`,
    );
    const total = responseCount.data.length;
    const pageCount = Math.ceil(total / pageSize);
    return {
      pageCount,
      pageData: data,
      total,
    };
  } catch (error: any) {
    console.error(error.code);
    loading.value = false;
    return {
      pageCount: 1,
      pageData: [],
      total: 0,
    };
  }
}

const pagination: PaginationProps = reactive({
  page: 1,
  pageSize: 10,
  pageCount: 1,
  itemCount: 0,
  prefix({ itemCount }) {
    return `Total is ${itemCount}.`;
  },
});
onMounted(async () => {
  const dataResult = await query(
    pagination.page,
    pagination.pageSize,
    column1.sortOrder as 'ascend' | 'descend',
    column3.filterOptionValue as string,
  );
  data.value = dataResult.pageData;
  pagination.pageCount = dataResult.pageCount;
  pagination.itemCount = dataResult.total;
  loading.value = false;
});

function rowKey(rowData: DataItem) {
  return rowData.column1;
}

async function handleSorterChange(sorter: DataTableSortState) {
  if (!sorter || sorter.columnKey === 'id') {
    if (!loading.value) {
      column1.sortOrder =
        column1.sortOrder === 'descend' ? 'ascend' : 'descend';
      loading.value = true;
      const dataResult = await query(
        pagination.page,
        pagination.pageSize,
        !sorter ? 'ascend' : column1.sortOrder,
        column3.filterOptionValue as string,
      );
      data.value = dataResult.pageData;
      pagination.pageCount = dataResult.pageCount;
      pagination.itemCount = dataResult.total;
      loading.value = false;
    }
  }
}

async function handleFiltersChange(filters: DataTableFilterState) {
  if (!loading.value) {
    loading.value = true;
    const filterValue = (filters.title || '') as string;
    const dataResult = await query(
      pagination.page,
      pagination.pageSize,
      column1.sortOrder as 'ascend' | 'descend',
      filterValue,
    );
    column3.filterOptionValue = filterValue;
    data.value = dataResult.pageData;
    pagination.pageCount = dataResult.pageCount;
    pagination.itemCount = dataResult.total;
    loading.value = false;
  }
}

async function handlePageChange(currentPage: number) {
  if (!loading.value) {
    loading.value = true;
    const dataResult = await query(
      currentPage,
      pagination.pageSize,
      column1.sortOrder as 'ascend' | 'descend',
      column3.filterOptionValue as string,
    );
    data.value = dataResult.pageData;
    pagination.page = currentPage;
    pagination.pageCount = dataResult.pageCount;
    pagination.itemCount = dataResult.total;
    loading.value = false;
  }
}
</script>
<template>
  <n-data-table
    remote
    ref="table"
    :columns="columns"
    :data="data"
    :loading="loading"
    :pagination="pagination"
    :row-key="rowKey"
    @update:sorter="handleSorterChange"
    @update:filters="handleFiltersChange"
    @update:page="handlePageChange"
  />
</template>
