<script setup lang="ts">
// import HelloWorld from './components/Data-table.vue';
import DataTable from './components/Data-table-test.vue';
// import DataTable1 from './components/Data-table-test';
import { NMessageProvider } from 'naive-ui';
</script>

<template>
  <n-message-provider>
    <main>
      <!-- <HelloWorld /> -->
      <DataTable />
    </main>
  </n-message-provider>
</template>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
./components/Data-table.vue
